data/
homearr/
jellyseerr/
letsencrypt/
lidarr/ 
postgres/
plex-config/
qbittorrent/
radarr/
sonarr/
syncthing/
tautulli/
homarr/
jellyfin-config/
huntarr/
configarr/
homepage/
homearr/
homeassistant/
prowlarr-config/
qbittorrent-config/
radarr-config/
sonarr-config/
recyclarr/
sonarr-config/
traefik/
dups.db
dup.hash
prod.env


